.header-container {
	display: flex;
	justify-content: space-between;
	background: transparent;
}

.search-placeholder {
	color: #ffff;
}

.viewprofileBtn {
	color: #ffff;
	background-color: var(--second);
}

.viewprofileBtn:hover {
	color: #ffff;
	background-color: var(--primary);
}

.user-area {
	align-items: end;
}
